* {
  max-width: 1500px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

header .titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  font-family: 'Shrikhand', cursive;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 70px;
  margin-bottom: -55px;
  margin-top: -50px;
}

header .localisation .formulaire {
  background-color: rgba(211, 211, 211, 0.758);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  font-size: 40px;
  height: 120px;
}

header .localisation .formulaire .search {
  border: none;
  background-color: rgba(211, 211, 211, 0.13);
  font-size: 35px;
  font-weight: 600;
  outline: none;
  margin-left: 40px;
}

header .localisation .formulaire .fa-solid {
  margin-left: 100px;
}

header .accueil {
  padding-top: 80px;
  padding-bottom: 125px;
  font-size: 30px;
  text-align: center;
  background-color: #f2efef5c;
}

header .accueil .h1 {
  font-weight: 900;
}

header .accueil .btn-explo {
  border: 2px solid;
  border-radius: 50px 50px 50px 50px;
  width: 600px;
  display: inline-block;
  font-size: 45px;
  margin-top: 30px;
  height: 135px;
  background: linear-gradient(60deg, #9356dc, #e263f2f7);
}

header .accueil .btn-explo p {
  color: white;
  font-weight: bolder;
}

main .fonctionnement {
  margin-top: 115px;
}

main .fonctionnement h1 {
  font-weight: 900;
}

main .fonctionnement .onglet1 {
  margin-top: 100px;
  border: 1px solid;
  border-radius: 50px 50px 50px 50px;
  width: 850px;
  height: 150px;
  font-size: 40px;
  background-color: #f2efef5c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .fonctionnement .onglet2 {
  margin-top: 100px;
  border: 1px solid;
  border-radius: 50px 50px 50px 50px;
  width: 850px;
  height: 150px;
  font-size: 40px;
  background-color: #f2efef5c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .fonctionnement .onglet3 {
  margin-top: 100px;
  border: 1px solid;
  border-radius: 50px 50px 50px 50px;
  width: 850px;
  height: 150px;
  font-size: 40px;
  background-color: #f2efef5c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=main.css.map */