* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.fa-heart {
  font-weight: normal;
}

/*Ci-dessous Mixin pour la main page*/
/*Ci-dessous Mixin pour les menus */
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes moveletter {
  0% {
    -webkit-transform: translateX(-65px);
    transform: translateX(-65px);
    opacity: 0;
  }
  20% {
    opacity: 0.1;
  }
  40% {
    opacity: 0.6;
  }
  1% {
    opacity: 0.8;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes moveletter {
  0% {
    -webkit-transform: translateX(-65px);
    transform: translateX(-65px);
    opacity: 0;
  }
  20% {
    opacity: 0.1;
  }
  40% {
    opacity: 0.6;
  }
  1% {
    opacity: 0.8;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes hide-loader {
  0% {
    opacity: 1;
    z-index: 10;
  }
  20% {
    opacity: 0.6;
  }
  70% {
    opacity: 0;
  }
  80% {
    opacity: 0.4;
  }
  85% {
    opacity: 0.3;
  }
  90% {
    opacity: 0.1;
  }
  95% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes hide-loader {
  0% {
    opacity: 1;
    z-index: 10;
  }
  20% {
    opacity: 0.6;
  }
  70% {
    opacity: 0;
  }
  80% {
    opacity: 0.4;
  }
  85% {
    opacity: 0.3;
  }
  90% {
    opacity: 0.1;
  }
  95% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@-webkit-keyframes movemenu {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  20% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes movemenu {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  20% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes spin-reverse {
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes spin-reverse {
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes check {
  from {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes check {
  from {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes movecheck {
  0% {
    flex-basis: 0%;
  }
  40% {
    flex-basis: 5%;
  }
  60% {
    flex-basis: 10%;
  }
  80% {
    flex-basis: 15%;
  }
  100% {
    flex-basis: 20%;
  }
}

@keyframes movecheck {
  0% {
    -ms-flex-preferred-size: 0%;
        flex-basis: 0%;
  }
  40% {
    -ms-flex-preferred-size: 5%;
        flex-basis: 5%;
  }
  60% {
    -ms-flex-preferred-size: 10%;
        flex-basis: 10%;
  }
  80% {
    -ms-flex-preferred-size: 15%;
        flex-basis: 15%;
  }
  100% {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
  }
}

@-webkit-keyframes moveprices {
  0% {
    flex-basis: 98%;
  }
  40% {
    flex-basis: 95%;
  }
  60% {
    flex-basis: 90%;
  }
  80% {
    flex-basis: 85%;
  }
  100% {
    flex-basis: 90%;
  }
}

@keyframes moveprices {
  0% {
    -ms-flex-preferred-size: 98%;
        flex-basis: 98%;
  }
  40% {
    -ms-flex-preferred-size: 95%;
        flex-basis: 95%;
  }
  60% {
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
  }
  80% {
    -ms-flex-preferred-size: 85%;
        flex-basis: 85%;
  }
  100% {
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
  }
}

@-webkit-keyframes movespan {
  0% {
    -webkit-transform: translateX(-1px);
            transform: translateX(-1px);
  }
  80% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
  100% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
}

@keyframes movespan {
  0% {
    -webkit-transform: translateX(-1px);
            transform: translateX(-1px);
  }
  80% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
  100% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
}

/* 

        -webkit-transform: translateX(-65px);
        transform: translateX(-65px);

        -webkit-transform: translateX(0);
        transform: translateX(0);

        @keyframes movecheck{
    0% {
        opacity: 0;
    }
    80% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}
*/
/*Ci-dessous SCSS pour la page d'accueil*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

body {
  height: 100%;
  position: relative;
  font-size: 14px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, "Arial Black", Impact, "Times New Roman", sans-serif;
  font-weight: 100;
}

.loader {
  display: -ms-grid;
  display: grid;
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  background-color: white;
  -webkit-animation: hide-loader 0s 3s both;
          animation: hide-loader 0s 3s both;
}

.loader .loader__title {
  margin: auto;
  position: relative;
  top: -42%;
  font-size: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.loader .loader__title p {
  font-weight: bold;
  font-family: 'Shrikhand', cursive;
}

.loader .loader__title .letter1 {
  -webkit-animation: moveletter 1.5s 0.2s both;
          animation: moveletter 1.5s 0.2s both;
}

.loader .loader__title .letter2 {
  -webkit-animation: moveletter 1.5s 0.3s both;
          animation: moveletter 1.5s 0.3s both;
}

.loader .loader__title .letter3 {
  -webkit-animation: moveletter 1.5s 0.4s both;
          animation: moveletter 1.5s 0.4s both;
}

.loader .loader__title .letter4 {
  -webkit-animation: moveletter 1.5s 0.5s both;
          animation: moveletter 1.5s 0.5s both;
}

.loader .loader__title .letter5 {
  -webkit-animation: moveletter 1.5s 0.6s both;
          animation: moveletter 1.5s 0.6s both;
}

.loader .loader__title .letter6 {
  -webkit-animation: moveletter 1.5s 0.7s both;
          animation: moveletter 1.5s 0.7s both;
}

.loader .loader__title .letter7 {
  -webkit-animation: moveletter 1.5s 0.8s both;
          animation: moveletter 1.5s 0.8s both;
}

.loader .loader__title .letter8 {
  -webkit-animation: moveletter 1.5s 0.9s both;
          animation: moveletter 1.5s 0.9s both;
}

.loader .load {
  width: 100%;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 4%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.loader .load__spinner {
  border-top: 10px solid #9356DC;
  height: 180px;
  border-radius: 50%;
  width: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: spin 3000ms 2s linear infinite;
          animation: spin 3000ms 2s linear infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

.loader .load__spinner--1 {
  -webkit-animation-delay: 50ms;
          animation-delay: 50ms;
}

.loader .load__spinner .load__spinner2 {
  border-bottom: 10px solid #FF79DA;
  height: 180px;
  border-radius: 50%;
  width: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: spin 3000ms 2s linear infinite;
          animation: spin 3000ms 2s linear infinite;
  animation-direction: reverse;
}

.loader .load__spinner .load__spinner2--1 {
  -webkit-animation-delay: 50ms;
          animation-delay: 50ms;
}

@media screen and (min-width: 992px) {
  header {
    max-width: 900px;
    margin: auto;
  }
}

header .titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Shrikhand', cursive;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
}

header .titre p {
  margin: 0;
  margin-top: 15px;
  margin-bottom: 5px;
}

header .localisation .formulaire {
  background-color: rgba(211, 211, 211, 0.55);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  -webkit-box-shadow: inset 0 11px 9px -7px #b7b7b7db;
          box-shadow: inset 0 11px 9px -7px #b7b7b7db;
}

header .localisation .formulaire .search {
  border: none;
  background-color: #babab000;
  outline: none;
  margin-left: 15px;
  font-size: 15px;
}

header .localisation .formulaire #ville::-webkit-input-placeholder {
  color: black;
}

header .localisation .formulaire #ville:-ms-input-placeholder {
  color: black;
}

header .localisation .formulaire #ville::-ms-input-placeholder {
  color: black;
}

header .localisation .formulaire #ville::placeholder {
  color: black;
}

header .localisation .formulaire .fa-solid {
  margin-left: 28px;
  font-size: 20px;
}

header .accueil {
  padding-top: 25px;
  padding-bottom: 60px;
  text-align: center;
  background-color: #f2efef8c;
}

header .accueil h1 {
  font-weight: 400;
  width: 75%;
  font-size: 24px;
  text-align: center;
  display: inline-block;
}

header .accueil p {
  margin: 0;
  font-size: 17px;
}

header .accueil .btn-explo {
  border-radius: 50px 50px 50px 50px;
  width: 47%;
  display: inline-block;
  margin-top: 40px;
  background: -webkit-gradient(linear, left bottom, left top, from(#e263f2f7), to(#b077f4));
  background: linear-gradient(0deg, #e263f2f7, #b077f4);
  text-align: center;
  padding: 14px;
  cursor: pointer;
  -webkit-box-shadow: 6px 6px 6px #cdcdcd45;
          box-shadow: 6px 6px 6px #cdcdcd45;
}

header .accueil .btn-explo:hover {
  -webkit-box-shadow: 50px 50px 50px #cdcdcd45;
          box-shadow: 50px 50px 50px #cdcdcd45;
  -webkit-filter: brightness(1.05);
          filter: brightness(1.05);
}

@media screen and (min-width: 992px) {
  header .accueil .btn-explo {
    width: 25%;
  }
}

header .accueil .btn-explo a {
  text-decoration: none;
}

header .accueil .btn-explo a p {
  color: white;
  font-weight: 400;
  font-size: 15px;
  display: contents;
}

header .accueil .btn-explo:hover {
  color: #f2eafa;
}

main {
  max-width: 1500px;
  margin: auto;
}

@media screen and (min-width: 992px) {
  main {
    max-width: 900px;
    margin: auto;
  }
}

main .fonctionnement {
  margin-top: 40px;
}

main .fonctionnement h2 {
  font-weight: 500;
  padding-left: 4%;
  font-size: 23px;
}

@media screen and (min-width: 992px) {
  main .fonctionnement .onglets {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

main .fonctionnement .onglets .onglet1 {
  margin-top: 25px;
  border: 0.5px solid #e8e3e3;
  border-radius: 25px 25px 25px 25px;
  width: 90%;
  height: 70px;
  background-color: #f2efef5c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  cursor: pointer;
  -webkit-box-shadow: 6px 8px 14px #cdcdcd70;
          box-shadow: 6px 8px 14px #cdcdcd70;
}

main .fonctionnement .onglets .onglet1 .icon {
  position: absolute;
  left: 0;
  display: inline-block;
  padding: 4px 8px;
  background-color: #9356DC;
  border-radius: 50px;
  margin-left: -12px;
  color: white;
  font-family: -webkit-body;
}

main .fonctionnement .onglets .onglet1 p {
  font-weight: 400;
}

@media screen and (min-width: 992px) {
  main .fonctionnement .onglets .onglet1 {
    width: 45%;
  }
}

main .fonctionnement .onglets .onglet1 .fa-mobile-screen-button {
  color: grey;
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
  font-size: 22px;
}

main .fonctionnement .onglets .onglet1:hover {
  background-color: #f2eafa;
}

main .fonctionnement .onglets .onglet2 {
  margin-top: 25px;
  border: 0.5px solid #e8e3e3;
  border-radius: 25px 25px 25px 25px;
  width: 90%;
  height: 70px;
  background-color: #f2efef5c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  cursor: pointer;
  -webkit-box-shadow: 6px 8px 14px #cdcdcd70;
          box-shadow: 6px 8px 14px #cdcdcd70;
}

main .fonctionnement .onglets .onglet2 .icon {
  position: absolute;
  left: 0;
  display: inline-block;
  padding: 4px 8px;
  background-color: #9356DC;
  border-radius: 50px;
  margin-left: -12px;
  color: white;
  font-family: -webkit-body;
}

main .fonctionnement .onglets .onglet2 p {
  font-weight: 400;
}

@media screen and (min-width: 992px) {
  main .fonctionnement .onglets .onglet2 {
    width: 45%;
  }
}

main .fonctionnement .onglets .onglet2 .fa-bars {
  color: grey;
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
  font-size: 22px;
}

main .fonctionnement .onglets .onglet2:hover {
  background-color: #f2eafa;
}

main .fonctionnement .onglets .onglet3 {
  margin-top: 25px;
  border: 0.5px solid #e8e3e3;
  border-radius: 25px 25px 25px 25px;
  width: 90%;
  height: 70px;
  background-color: #f2efef5c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  cursor: pointer;
  -webkit-box-shadow: 6px 8px 14px #cdcdcd70;
          box-shadow: 6px 8px 14px #cdcdcd70;
}

main .fonctionnement .onglets .onglet3 .icon {
  position: absolute;
  left: 0;
  display: inline-block;
  padding: 4px 8px;
  background-color: #9356DC;
  border-radius: 50px;
  margin-left: -12px;
  color: white;
  font-family: -webkit-body;
}

main .fonctionnement .onglets .onglet3 p {
  font-weight: 400;
}

@media screen and (min-width: 992px) {
  main .fonctionnement .onglets .onglet3 {
    width: 45%;
  }
}

main .fonctionnement .onglets .onglet3 .fa-store {
  color: grey;
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
  font-size: 22px;
}

main .fonctionnement .onglets .onglet3:hover {
  background-color: #f2eafa;
}

main .restaurant {
  background-color: #f2efef5c;
  margin-top: 70px;
  padding-bottom: 70px;
  height: auto;
}

main .restaurant h2 {
  font-weight: 500;
  padding-left: 20px;
  padding-top: 50px;
  font-size: 23px;
}

@media screen and (min-width: 992px) {
  main .restaurant .restaurant-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

main .restaurant .restaurant-cards .card {
  position: relative;
  width: 90%;
  margin-top: 22px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 992px) {
  main .restaurant .restaurant-cards .card {
    width: 45%;
    margin-top: 50px;
  }
}

main .restaurant .restaurant-cards .card .liencarte {
  display: block;
  text-decoration: none;
  color: black;
}

main .restaurant .restaurant-cards .card .liencarte .card-top .image-card {
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 25px 25px 0px 0px;
  width: 100%;
}

@media screen and (min-width: 992px) {
  main .restaurant .restaurant-cards .card .liencarte .card-top .image-card {
    height: 260px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

main .restaurant .restaurant-cards .card .liencarte .card-top .new {
  color: #128112;
  border: 1px solid;
  background-color: #99E2D0;
  width: 65px;
  text-align: center;
  font-family: initial;
  font-size: 16px;
  padding: 4px;
  position: absolute;
  right: 20px;
  top: 0px;
}

main .restaurant .restaurant-cards .card .card-body {
  background-color: white;
  -webkit-box-shadow: 8px 8px 14px #cdcdcd70;
          box-shadow: 8px 8px 14px #cdcdcd70;
  margin-right: auto;
  margin-left: auto;
  height: 70px;
  border-radius: 0px 0px 25px 25px;
  color: black;
  font-weight: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .restaurant .restaurant-cards .card .card-body .card-title {
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
}

main .restaurant .restaurant-cards .card .card-body .card-title .liencarte h3 {
  font-weight: 400;
  margin: 10px 11px 9px;
  font-size: 19px;
}

main .restaurant .restaurant-cards .card .card-body .card-title .liencarte p {
  margin: 10px 11px 9px;
  cursor: pointer;
  font-weight: 300;
}

main .restaurant .restaurant-cards .card .card-body .card-heart {
  padding-top: 18px;
  font-size: 27px;
  color: #8b8686;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

main .restaurant .restaurant-cards .card .card-body .card-heart .heart1 {
  opacity: 1;
}

main .restaurant .restaurant-cards .card .card-body .card-heart .heart2 {
  position: relative;
  right: 50px;
  -webkit-transform: scale(0.3);
          transform: scale(0.3);
  opacity: 0;
}

main .restaurant .restaurant-cards .card .card-body .card-heart:hover .heart1 {
  -webkit-transition: -webkit-transform 5000s ease-in-out;
  transition: -webkit-transform 5000s ease-in-out;
  transition: transform 5000s ease-in-out;
  transition: transform 5000s ease-in-out, -webkit-transform 5000s ease-in-out;
}

main .restaurant .restaurant-cards .card .card-body .card-heart:hover .heart2 {
  position: relative;
  right: 27px;
  top: 1px;
  font-weight: bold;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e263f2f7), to(#b077f4));
  background-image: linear-gradient(0deg, #e263f2f7, #b077f4);
  opacity: 1;
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 350ms ease-in-out;
  transition: -webkit-transform 350ms ease-in-out;
  transition: transform 350ms ease-in-out;
  transition: transform 350ms ease-in-out, -webkit-transform 350ms ease-in-out;
}

main .restaurant .restaurant-cards .card .card-body .card-heart:active .heart1 {
  -webkit-transition: -webkit-transform 5000s ease-in-out;
  transition: -webkit-transform 5000s ease-in-out;
  transition: transform 5000s ease-in-out;
  transition: transform 5000s ease-in-out, -webkit-transform 5000s ease-in-out;
}

main .restaurant .restaurant-cards .card .card-body .card-heart:active .heart2 {
  position: relative;
  right: 27px;
  top: 1px;
  font-weight: bold;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e263f2f7), to(#b077f4));
  background-image: linear-gradient(0deg, #e263f2f7, #b077f4);
  opacity: 1;
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 350ms ease-in-out;
  transition: -webkit-transform 350ms ease-in-out;
  transition: transform 350ms ease-in-out;
  transition: transform 350ms ease-in-out, -webkit-transform 350ms ease-in-out;
}

#footer {
  background-color: #383434;
  color: white;
  list-style-type: none;
  padding-left: 20px;
  padding-bottom: 15px;
  height: auto;
}

@media screen and (min-width: 992px) {
  #footer {
    max-width: 900px;
    margin: auto;
    padding-left: 0px;
  }
}

@media screen and (min-width: 992px) {
  #footer {
    height: 105px;
  }
}

#footer a {
  text-decoration: none;
  color: white;
}

#footer .end {
  max-width: 1500px;
  margin: auto;
  padding-top: 7px;
}

@media screen and (min-width: 992px) {
  #footer .end {
    padding-left: 20px;
  }
}

#footer .end h2 {
  font-family: 'Shrikhand';
  font-size: 20px;
}

@media screen and (min-width: 992px) {
  #footer .end {
    padding-top: 1px;
  }
}

#footer .end .end-list {
  font-weight: 300;
  font-size: 16px;
  list-style-type: none;
  padding: 0;
}

@media screen and (min-width: 992px) {
  #footer .end .end-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 95%;
  }
}

#footer .end .end-list li {
  padding-top: 9px;
}

#footer .end .end-list li .first-span {
  padding-left: 7px;
}
/*# sourceMappingURL=main.css.map */