* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.fa-heart {
  font-weight: normal;
}

/*Ci-dessous Mixin pour la main page*/
/*Ci-dessous Mixin pour les menus */
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes moveletter {
  0% {
    -webkit-transform: translateX(-65px);
    transform: translateX(-65px);
    opacity: 0;
  }
  20% {
    opacity: 0.1;
  }
  40% {
    opacity: 0.6;
  }
  1% {
    opacity: 0.8;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes moveletter {
  0% {
    -webkit-transform: translateX(-65px);
    transform: translateX(-65px);
    opacity: 0;
  }
  20% {
    opacity: 0.1;
  }
  40% {
    opacity: 0.6;
  }
  1% {
    opacity: 0.8;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes hide-loader {
  0% {
    opacity: 1;
    z-index: 10;
  }
  20% {
    opacity: 0.6;
  }
  70% {
    opacity: 0;
  }
  80% {
    opacity: 0.4;
  }
  85% {
    opacity: 0.3;
  }
  90% {
    opacity: 0.1;
  }
  95% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes hide-loader {
  0% {
    opacity: 1;
    z-index: 10;
  }
  20% {
    opacity: 0.6;
  }
  70% {
    opacity: 0;
  }
  80% {
    opacity: 0.4;
  }
  85% {
    opacity: 0.3;
  }
  90% {
    opacity: 0.1;
  }
  95% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@-webkit-keyframes movemenu {
  0% {
    -webkit-transform: translateX(-65px);
    transform: translateX(-65px);
    opacity: 0;
  }
  20% {
    opacity: 0.1;
  }
  40% {
    opacity: 0.6;
  }
  1% {
    opacity: 0.8;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes movemenu {
  0% {
    -webkit-transform: translateX(-65px);
    transform: translateX(-65px);
    opacity: 0;
  }
  20% {
    opacity: 0.1;
  }
  40% {
    opacity: 0.6;
  }
  1% {
    opacity: 0.8;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes choice-menu {}

@keyframes choice-menu {}@-webkit-keyframes spin-reverse {
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}@keyframes spin-reverse {
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

body {
  height: 100%;
  position: relative;
}

header .titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  font-family: 'Shrikhand', cursive;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 70px;
  margin-bottom: -55px;
  margin-top: -50px;
}

header .titre a i {
  font-size: 50px;
  color: #676464;
}

header .titre p {
  -ms-flex-preferred-size: 62%;
      flex-basis: 62%;
}

header .card {
  z-index: 1;
  position: relative;
}

header .card .liencarte .bloc-card .image-card {
  height: 700px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main .menu {
  height: 100%;
  width: 100%;
  background-color: #f3f3f3;
  margin-top: -135px;
  z-index: 10;
  position: relative;
  border: 1px solid #f3f3f3;
  border-radius: 65px 65px 0px 0px;
}

main .menu .title {
  font-size: 45px;
  font-family: 'Shrikhand';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main .menu .title .menu-heart {
  position: relative;
}

main .menu .title .menu-heart .heart1 {
  position: relative;
  left: 24px;
}

main .menu .title .menu-heart .heart1:hover {
  opacity: 0;
}

main .menu .title .menu-heart .heart1:active {
  opacity: 0;
}

main .menu .title .menu-heart .heart2 {
  font-weight: bold;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e263f2f7), to(#b077f4));
  background-image: linear-gradient(0deg, #e263f2f7, #b077f4);
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  position: relative;
  right: 30px;
  top: 6px;
  opacity: 0;
}

main .menu .title .menu-heart .heart2:hover {
  opacity: 100;
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 1330ms ease-in-out;
  transition: -webkit-transform 1330ms ease-in-out;
  transition: transform 1330ms ease-in-out;
  transition: transform 1330ms ease-in-out, -webkit-transform 1330ms ease-in-out;
  overflow: hidden;
}

main .menu .title .menu-heart .heart2:active {
  opacity: 100;
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 1330ms ease-in-out;
  transition: -webkit-transform 1330ms ease-in-out;
  transition: transform 1330ms ease-in-out;
  transition: transform 1330ms ease-in-out, -webkit-transform 1330ms ease-in-out;
  overflow: hidden;
}

main .menu .sous-titre {
  font-size: 40px;
  margin-right: 50px;
  margin-left: 50px;
  -webkit-text-decoration: underline #99E2D0;
          text-decoration: underline #99E2D0;
  text-underline-position: under;
}

main .menu .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .menu .card a {
  text-decoration: none;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

main .menu .card a .bloc-menu {
  border: 1px solid;
  border-radius: 25px 25px;
  background-color: white;
  font-size: 40px;
  height: 140px;
  border-color: lightgray;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .menu .card a .bloc-menu .menu-title {
  color: black;
  padding: 25px;
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
}

main .menu .card a .bloc-menu .menu-title p {
  padding: 0px;
  margin: 0px;
  padding-left: 25px;
}

main .menu .card a .bloc-menu .menu-title .title1 {
  text-shadow: 0 0 black;
  font-weight: bolder;
}

main .menu .card a .bloc-menu .menu-title .menu-subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .menu .card a .bloc-menu .menu-title .menu-subtitle span {
  font-weight: bolder;
  text-shadow: 0 0 black;
}

main .menu .card a .bloc-menu .menu-title .menu-subtitle .subtitle {
  display: inline;
  font-weight: 100;
}

main .menu .card a .bloc-menu .check {
  background: #99E2D0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 142px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0px 30px 30px 0px;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

main .menu .card a .bloc-menu .check i {
  color: white;
  font-size: 30px;
}

main .menu .card a .bloc-menu .check:hover {
  -webkit-transform: translateX(-140px);
          transform: translateX(-140px);
}

main .menu .btn-cmd {
  border: 0.5px solid;
  border-radius: 50px 50px 50px 50px;
  width: 45%;
  font-size: 45px;
  margin-top: 30px;
  background: -webkit-gradient(linear, left bottom, left top, from(#e263f2f7), to(#b077f4));
  background: linear-gradient(0deg, #e263f2f7, #b077f4);
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 105px;
  margin-bottom: 125px;
  -webkit-box-shadow: 6px 6px 6px #cdcdcd45;
          box-shadow: 6px 6px 6px #cdcdcd45;
  cursor: pointer;
}

main .menu .btn-cmd:hover {
  -webkit-box-shadow: 50px 50px 50px #cdcdcd45;
          box-shadow: 50px 50px 50px #cdcdcd45;
  -webkit-filter: brightness(1.05);
          filter: brightness(1.05);
}

main .menu .btn-cmd p {
  color: white;
  font-family: 'Roboto-ui';
}

#footer {
  background-color: #383434;
  color: white;
  list-style-type: none;
  padding-left: 50px;
  padding-bottom: 60px;
  font-size: 26px;
  height: auto;
}

@media screen and (min-width: 992px) {
  #footer {
    height: 230px;
  }
}

#footer a {
  text-decoration: none;
  color: white;
}

#footer h1 {
  font-family: 'Shrikhand';
}

#footer .end {
  max-width: 1500px;
  margin: auto;
  padding-top: 20px;
}

#footer .end li {
  padding-top: 20px;
  font-size: 35px;
}

#footer .end li span {
  padding-left: 15px;
}

@media screen and (min-width: 992px) {
  #footer .end .end-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 95%;
  }
}

#footer .end li i {
  font-size: 35px;
}
/*# sourceMappingURL=menu.css.map */