* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.fa-heart {
  font-weight: normal;
}

/*Ci-dessous Mixin pour la main page*/
/*Ci-dessous Mixin pour les menus */
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes moveletter {
  0% {
    -webkit-transform: translateX(-65px);
    transform: translateX(-65px);
    opacity: 0;
  }
  20% {
    opacity: 0.1;
  }
  40% {
    opacity: 0.6;
  }
  1% {
    opacity: 0.8;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes moveletter {
  0% {
    -webkit-transform: translateX(-65px);
    transform: translateX(-65px);
    opacity: 0;
  }
  20% {
    opacity: 0.1;
  }
  40% {
    opacity: 0.6;
  }
  1% {
    opacity: 0.8;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes hide-loader {
  0% {
    opacity: 1;
    z-index: 10;
  }
  20% {
    opacity: 0.6;
  }
  70% {
    opacity: 0;
  }
  80% {
    opacity: 0.4;
  }
  85% {
    opacity: 0.3;
  }
  90% {
    opacity: 0.1;
  }
  95% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes hide-loader {
  0% {
    opacity: 1;
    z-index: 10;
  }
  20% {
    opacity: 0.6;
  }
  70% {
    opacity: 0;
  }
  80% {
    opacity: 0.4;
  }
  85% {
    opacity: 0.3;
  }
  90% {
    opacity: 0.1;
  }
  95% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@-webkit-keyframes movemenu {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes movemenu {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes spin-reverse {
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes spin-reverse {
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes check {
  from {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes check {
  from {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes movecheck {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes movecheck {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes movespan {
  0% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  80% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(-15px);
            transform: translateX(-15px);
  }
}

@keyframes movespan {
  0% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  80% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(-15px);
            transform: translateX(-15px);
  }
}

/* 

        -webkit-transform: translateX(-65px);
        transform: translateX(-65px);

        -webkit-transform: translateX(0);
        transform: translateX(0);
*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

body {
  height: 100%;
  position: relative;
  font-size: 14px;
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, "Arial Black", Impact, "Times New Roman", sans-serif;
  font-weight: 100;
}

header .titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  font-family: 'Shrikhand', cursive;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 35px;
  width: 77%;
}

header .titre a i {
  color: #676464;
}

header .card {
  z-index: 1;
  position: relative;
}

header .card .liencarte .bloc-card .image-card {
  margin-top: -15px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 270px;
}

main .menu {
  height: 100%;
  width: 100%;
  background-color: #f3f3f3;
  margin-top: -50px;
  z-index: 10;
  position: relative;
  border: 1px solid #f3f3f3;
  border-radius: 65px 65px 0px 0px;
}

main .menu .title {
  font-family: 'Shrikhand';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

main .menu .title h1 {
  font-size: 25px;
}

main .menu .title .menu-heart {
  color: #8b8686;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  font-size: 27px;
}

main .menu .title .menu-heart .heart1 {
  position: relative;
  left: 24px;
  opacity: 1;
}

main .menu .title .menu-heart .heart2 {
  position: relative;
  right: 32px;
  top: -2px;
  -webkit-transform: scale(0.3);
          transform: scale(0.3);
  opacity: 0;
}

main .menu .title .menu-heart:hover .heart1 {
  -webkit-transition: -webkit-transform 5000s ease-in-out;
  transition: -webkit-transform 5000s ease-in-out;
  transition: transform 5000s ease-in-out;
  transition: transform 5000s ease-in-out, -webkit-transform 5000s ease-in-out;
}

main .menu .title .menu-heart:hover .heart2 {
  position: relative;
  right: 3px;
  top: 0px;
  font-weight: bold;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e263f2f7), to(#b077f4));
  background-image: linear-gradient(0deg, #e263f2f7, #b077f4);
  opacity: 1;
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 350ms ease-in-out;
  transition: -webkit-transform 350ms ease-in-out;
  transition: transform 350ms ease-in-out;
  transition: transform 350ms ease-in-out, -webkit-transform 350ms ease-in-out;
}

main .menu .title .menu-heart:active .heart1 {
  -webkit-transition: -webkit-transform 5000s ease-in-out;
  transition: -webkit-transform 5000s ease-in-out;
  transition: transform 5000s ease-in-out;
  transition: transform 5000s ease-in-out, -webkit-transform 5000s ease-in-out;
}

main .menu .title .menu-heart:active .heart2 {
  position: relative;
  right: 3px;
  top: 0px;
  font-weight: bold;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e263f2f7), to(#b077f4));
  background-image: linear-gradient(0deg, #e263f2f7, #b077f4);
  opacity: 1;
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 350ms ease-in-out;
  transition: -webkit-transform 350ms ease-in-out;
  transition: transform 350ms ease-in-out;
  transition: transform 350ms ease-in-out, -webkit-transform 350ms ease-in-out;
}

main .menu .sous-titre {
  margin-right: 50px;
  margin-left: 25px;
  -webkit-text-decoration: 3px underline #99E2D0;
          text-decoration: 3px underline #99E2D0;
  text-underline-position: under;
  font-weight: 300;
}

main .menu .move1 {
  -webkit-animation: movemenu 1.5s 0.2s both;
          animation: movemenu 1.5s 0.2s both;
}

main .menu .move2 {
  -webkit-animation: movemenu 1.5s 0.4s both;
          animation: movemenu 1.5s 0.4s both;
}

main .menu .move3 {
  -webkit-animation: movemenu 1.5s 0.6s both;
          animation: movemenu 1.5s 0.6s both;
}

main .menu .move4 {
  -webkit-animation: movemenu 1.5s 0.8s both;
          animation: movemenu 1.5s 0.8s both;
}

main .menu .move5 {
  -webkit-animation: movemenu 1.5s 1s both;
          animation: movemenu 1.5s 1s both;
}

main .menu .move6 {
  -webkit-animation: movemenu 1.5s 1.2s both;
          animation: movemenu 1.5s 1.2s both;
}

main .menu .move7 {
  -webkit-animation: movemenu 1.5s 1.4s both;
          animation: movemenu 1.5s 1.4s both;
}

main .menu .move8 {
  -webkit-animation: movemenu 1.5s 1.6s both;
          animation: movemenu 1.5s 1.6s both;
}

main .menu .move9 {
  -webkit-animation: movemenu 1.5s 1.8s both;
          animation: movemenu 1.5s 1.8s both;
}

main .menu .move10 {
  -webkit-animation: movemenu 1.5s 2s both;
          animation: movemenu 1.5s 2s both;
}

main .menu .move11 {
  -webkit-animation: movemenu 1.5s 2.2s both;
          animation: movemenu 1.5s 2.2s both;
}

main .menu .move12 {
  -webkit-animation: movemenu 1.5s 2.4s both;
          animation: movemenu 1.5s 2.4s both;
}

main .menu .move13 {
  -webkit-animation: movemenu 1.5s 2.6s both;
          animation: movemenu 1.5s 2.6s both;
}

main .menu .move14 {
  -webkit-animation: movemenu 1.5s 2.8s both;
          animation: movemenu 1.5s 2.8s both;
}

main .menu .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .menu .card a {
  text-decoration: none;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

main .menu .card a .bloc-menu {
  -webkit-box-shadow: 8px 8px 14px #cdcdcd70;
          box-shadow: 8px 8px 14px #cdcdcd70;
  border-radius: 15px 15px;
  background-color: white;
  height: 60px;
  border-color: lightgray;
  margin: auto;
  width: 90%;
  margin-bottom: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

@media screen and (min-width: 992px) {
  main .menu .card a .bloc-menu {
    width: 70%;
  }
}

main .menu .card a .bloc-menu:active .check {
  -webkit-transform: translateX(-11px);
          transform: translateX(-11px);
  opacity: 1;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  margin-right: -11px;
  -webkit-transition: -webkit-transform 680ms ease-in-out 150ms;
  transition: -webkit-transform 680ms ease-in-out 150ms;
  transition: transform 680ms ease-in-out 150ms;
  transition: transform 680ms ease-in-out 150ms, -webkit-transform 680ms ease-in-out 150ms;
  -webkit-animation: movecheck 1s linear;
          animation: movecheck 1s linear;
}

main .menu .card a .bloc-menu:active .check i {
  color: white;
  font-size: 20px;
  -webkit-animation: check 500ms linear;
          animation: check 500ms linear;
}

main .menu .card a .bloc-menu .menu-title {
  color: black;
  padding: 12px;
  -ms-flex-preferred-size: 93%;
      flex-basis: 93%;
  font-size: 15px;
}

main .menu .card a .bloc-menu .menu-title p {
  margin: 0px;
}

main .menu .card a .bloc-menu .menu-title .title1 {
  text-shadow: 0 0 black;
  font-weight: bolder;
}

main .menu .card a .bloc-menu .menu-title .menu-subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 9px;
}

main .menu .card a .bloc-menu .menu-title .menu-subtitle span {
  font-weight: bolder;
  text-shadow: 0 0 black;
}

main .menu .card a .bloc-menu .menu-title .menu-subtitle span:active {
  opacity: 1;
  -ms-flex-preferred-size: 9%;
      flex-basis: 9%;
  -webkit-transition: -webkit-transform 880ms ease-in-out 150ms;
  transition: -webkit-transform 880ms ease-in-out 150ms;
  transition: transform 880ms ease-in-out 150ms;
  transition: transform 880ms ease-in-out 150ms, -webkit-transform 880ms ease-in-out 150ms;
  -webkit-transform: translateX(-15px);
          transform: translateX(-15px);
  -webkit-animation: movespan 1s linear;
          animation: movespan 1s linear;
}

main .menu .card a .bloc-menu .menu-title .menu-subtitle .subtitle {
  display: inline;
  font-weight: 100;
}

main .menu .card a .bloc-menu .check {
  background: #99E2D0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0px 12px 12px 0px;
  -ms-flex-preferred-size: 0%;
      flex-basis: 0%;
  opacity: 0;
  margin-right: -22px;
}

main .menu .btn-cmd {
  border: 0.5px solid transparent;
  border-radius: 50px 50px 50px 50px;
  width: 42%;
  background: -webkit-gradient(linear, left bottom, left top, from(#e263f2f7), to(#b077f4));
  background: linear-gradient(0deg, #e263f2f7, #b077f4);
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  margin-bottom: 50px;
  -webkit-box-shadow: 8px 8px 8px #cdcdcd45;
          box-shadow: 8px 8px 8px #cdcdcd45;
  cursor: pointer;
}

@media screen and (min-width: 992px) {
  main .menu .btn-cmd {
    width: 17%;
  }
}

main .menu .btn-cmd:hover {
  -webkit-box-shadow: 50px 50px 50px #cdcdcd45;
          box-shadow: 50px 50px 50px #cdcdcd45;
  -webkit-filter: brightness(1.05);
          filter: brightness(1.05);
}

main .menu .btn-cmd p {
  color: white;
  font-weight: 400;
}

#footer {
  background-color: #383434;
  color: white;
  list-style-type: none;
  padding-left: 20px;
  padding-bottom: 30px;
  height: auto;
}

@media screen and (min-width: 992px) {
  #footer {
    height: 105px;
  }
}

#footer a {
  text-decoration: none;
  color: white;
}

#footer .end {
  max-width: 1500px;
  margin: auto;
  padding-top: 7px;
}

#footer .end h1 {
  font-family: 'Shrikhand';
  font-size: 20px;
}

@media screen and (min-width: 992px) {
  #footer .end {
    padding-top: 1px;
  }
}

#footer .end .end-list {
  font-weight: 300;
  font-size: 17px;
}

@media screen and (min-width: 992px) {
  #footer .end .end-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 95%;
  }
}

#footer .end .end-list li {
  padding-top: 9px;
}

#footer .end .end-list li .first-span {
  padding-left: 7px;
}
/*# sourceMappingURL=menu.css.map */