@import './utils/variables';
@import './base/base';
@import './utils/mixin';
@import './utils/keyframes';

*{
    box-sizing: border-box;
    box-sizing: content-box;
}

body{
    height: 100%;
    position: relative;
    font-size: 14px;
    min-width: 320px;
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, "Arial Black", Impact, "Times New Roman", sans-serif;
    font-weight: 100;
}

header{
    .titre{
        display: flex;
        font-weight: bold;
        font-family: 'Shrikhand', cursive;
        justify-content: center;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        font-size: 30px;
            a{
                i{
                    color: #676464;
                }
            }
            p{
                flex-basis: 62%;
            }
            
    }
    .card{
        z-index: 1;
        position: relative;
            .liencarte{
                .bloc-card{
                    .image-card{
                        margin-top: -15px;
                        width: 100%;
                        object-fit: contain;
                    }
                }
            }
    }
}


main{
    .menu{
        height: 100%;
        width: 100%;
        background-color: #f3f3f3;
        margin-top: -50px;
        z-index: 10;
        position: relative;
        border: 1px solid #f3f3f3;
        border-radius: 65px 65px 0px 0px;
            .title{
                font-family: 'Shrikhand';
                display: flex;
                align-items: baseline;
                justify-content: space-around;
                    .menu-heart{
                        @include menu-heart();
                        &:hover{
                            @include menu-heart-transition();
                        }
                        &:active{
                            @include menu-heart-transition();
                        }
                    }
            }
            .sous-titre{
                @include sous-titre;
            }
            .card{
                display: flex;
                a{
                    text-decoration: none;
                    flex-basis: 100%;
                        .bloc-menu{
                            @include bloc-menu;
                            .menu-title{
                                color: black;
                                padding: 12px;
                                flex-basis: 90%;
                                font-size: 15px;
                                p{
                                    @include menu-p;
                                }
                                .title1{
                                    text-shadow: 0 0 black;
                                    font-weight: bolder;
                                }
                                .menu-subtitle{
                                    display: flex;
                                    justify-content: space-between;
                                    padding-top: 9px;
                                        span{
                                            font-weight: bolder;
                                            text-shadow: 0 0 black;
                                        }
                                        .subtitle{
                                            display: inline;
                                            font-weight: 100;
                                        }
                                }
                                
                            }
                            .check{
                                background: #99E2D0;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border-radius: 0px 12px 12px 0px;
                                flex-basis: 20%;
                                    i{
                                        color: white;
                                        font-size: 20px;
                                    }
                                &:hover{
                                    transform: translateX(-140px);
                                }
                            }
                        }
                }
            }
            .btn-cmd{
                @include btn-cmd;
            }
}
} 

#footer {
    @include footer-end();
    .end{
        h1{
            font-family: 'Shrikhand';
            font-size: 20px;
        }
        @include max-width();
        padding-top: 7px;
        @include desktop-only{
            padding-top: 1px;
        }
        .end-list{
            font-weight: 300;
            font-size: 17px;
            @include desktop-only{
                display: flex;
                justify-content: space-between;
                width: 95%;
            }
                li{
                    padding-top: 9px;
                        .first-span{
                            padding-left: 7px;
                        }
                }
        }
    }
}

