@import './utils/variables';
@import './base/base';
@import './utils/mixin';

header{
    .titre{
        display: flex;
        font-weight: bold;
        font-family: 'Shrikhand', cursive;
        justify-content: center;
        font-size: 70px;
        margin-bottom: -55px;
        margin-top: -50px;
            i{
                position: relative;
                top: 87px;
                right: 230px;
                font-size: 50px;
                color: #676464;
            }
    }
    .card{
        z-index: 1;
        position: relative;
            .liencarte{
                .bloc-card{
                    .image-card{
                        height: 700px;
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }
    }
}


main{
    .menu{
        height: 100%;
        width: 100%;
        background-color: #f3f3f3;
        margin-top: -135px;
        z-index: 10;
        position: relative;
        border: 1px solid #f3f3f3;
        border-radius: 65px 65px 0px 0px;
            .title{
                font-size: 45px;
                font-family: 'Shrikhand';
                display: flex;
                align-items: baseline;
                justify-content: space-around;
                    .menu-heart{
                        position: relative;
                            .heart1{
                                position: relative;
                                left: 24px;
                                &:hover{
                                    opacity: 0;
                                }
                                &:active{
                                    opacity: 0;
                                }
                            }
                            .heart2{
                                @include menu-heart2;
                                position: relative;
                                right: 30px;
                                top:6px;
                                opacity: 0;
                                &:hover{
                                    @include menu-heart-transition;
                                }
                                &:active{
                                    @include menu-heart-transition;
                                }
                            }
                    }
            }
            .sous-titre{
                @include sous-titre;
            }
            .card{
                a{
                    text-decoration: none;
                        .bloc-menu{
                            @include bloc-menu;
                            .menu-title{
                                color: black;
                                padding: 25px;
                                p{
                                    @include menu-p;
                                }
                                .title1{
                                    text-shadow: 0 0 black;
                                    font-weight: bolder;
                                }
                                .menu-subtitle{
                                    display: flex;
                                    justify-content: space-between;
                                        span{
                                            font-weight: bolder;
                                            text-shadow: 0 0 black;
                                        }
                                        .subtitle{
                                            display: inline;
                                            font-weight: 100;
                                        }
                                }
                                
                            }
                
                
                        }
                }
            }
            .btn-cmd{
                @include btn-cmd;
            }
}
} 

#footer {
    @include footer-end();
    h1{
        font-family: 'Shrikhand';
    }
    .end{
        @include max-width();
        @include footer-li;
        & li{
            @include footer-li;
            font-size: 40px;
            span {
                padding-left: 15px;
            }
        }
        .end-list{
            @include desktop-only{
                display: flex;
                justify-content: space-between;
                width: 95%;
            }
        }
        li{
            i{
                font-size: 35px;
            }     
        } 
    }
}
