@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes moveletter{
    0% {
        -webkit-transform: translateX(-65px);
        transform: translateX(-65px);
        opacity: 0;
    }
    20% {
        opacity: 0.1;
    }
    40% {
        opacity: 0.6;
    }
    1% {
        opacity: 0.8;
    }
    80% {
        opacity: 0.9;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes hide-loader {
    0% {
        opacity: 1;
        z-index: 10;
    }
    
    20% {
        opacity: 0.6;
    }
    70% {
        opacity: 0;
    }
    80% {
        opacity: 0.4;
    }
    85% {
        opacity: 0.3;
    }
    90% {
        opacity: 0.1;
    }
    95% {
        opacity: 0.1;
    }
    100% {
        opacity: 0;
        z-index: -1;
    }
}

@keyframes movemenu{
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    20% {
        opacity: 0.2;
    }
    40% {
        opacity: 0.4;
    }
    60% {
        opacity: 0.6;
    }
    80% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes spin-reverse {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

@keyframes check {
    from {
        transform: rotate(180deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes movecheck{
    0% {
        flex-basis: 0%;
    }
    40%{
        flex-basis: 5%;
    }
    60%{
        flex-basis: 10%;
    }
    80% {
        flex-basis: 15%;
    }
    100% {
        flex-basis: 20%;
    }
}

@keyframes moveprices{
    0% {
        flex-basis: 98%;
    }
    40%{
        flex-basis: 95%;
    }
    60%{
        flex-basis: 90%;
    }
    80% {
        flex-basis: 85%;
    }
    100% {
        flex-basis: 90%;
    }
}

@keyframes movespan{
    0% {
        transform: translateX(-1px);
    }
    80% {
        transform: translateX(-2px);
    }
    100% {
        transform: translateX(-5px);
    }
}

/* 

        -webkit-transform: translateX(-65px);
        transform: translateX(-65px);

        -webkit-transform: translateX(0);
        transform: translateX(0);

        @keyframes movecheck{
    0% {
        opacity: 0;
    }
    80% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}
*/