@mixin desktop-only {
    @media screen and (max-width: map-get($breakpoints, mobile)){
    @content;
    }}

/*Ci-dessous Mixin pour la main page*/

@mixin onglet ($marginTop){
    margin-top: $marginTop;
    border: 1px solid;
    border-radius: 50px 50px 50px 50px;
    width: 850px;
    height: 150px;
    font-size: 40px;
    background-color: #f2efef5c;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

@mixin onglet-icons{
    color: grey;
    flex-basis: 15%;
    font-size: 50px;
}

@mixin btn-explo{
    border: 2px solid;
    border-radius: 50px 50px 50px 50px;
    width: 600px;
    display: inline-block;
    font-size: 45px;
    margin-top: 30px;
    height: 135px;
    background: $color-violet;
}

@mixin image{
    height: 500px;
    width: 900px;
    object-fit: cover;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    border-radius: 50px 50px 0px 0px;
    position: relative;
}

@mixin card{
    margin-top: 70px;
}

@mixin card-body{
    padding-left: 50px;
    background-color: white;
    border: 1px solid grey;
    margin-right: auto;
    margin-left: auto;
    width: 846px;
    height: 150px;
    border-radius: 0px 0px 50px 50px;
    font-size: 30px;
    color: black;
    font-weight: 900;
    display: flex;
}

@mixin card-text{
    margin: 17px;
    font-size: 45px;
}

@mixin card-heart {
    padding-left: 380px;
    padding-top: 50px;
    font-size: 50px;
    color: #8b8686;
    font-weight: normal;
}

@mixin footer-li {
    padding-top: 20px;
}

@mixin footer-end {
    background-color: #383434;
    color: white;
    margin-top: 110px;
    list-style-type: none;
    padding-left: 50px;
    padding-bottom: 60px;
    font-size: 26px;
    height: 390px;
}

@mixin new{
    color: green;
    font-size: 41px;
    border: 1px solid;
    background-color: #99E2D0;
    width: 180px;
    text-align: center;
}

/*Ci-dessous Mixin pour les menus */

@mixin bloc-menu {
    border: 1px solid;
    border-radius: 25px 25px;
    background-color: white;
    font-size: 40px;
    height: 140px;
    border-color: lightgray;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 40px;
}

@mixin sous-titre {
    font-size: 40px;
    margin-right: 50px;
    margin-left: 50px;
    text-decoration: underline #99E2D0;
    text-underline-position: under;
}

@mixin menu-p {
    padding: 0px;
    margin: 0px;
    padding-left: 25px;
}

@mixin btn-cmd {
    border: 2px solid;
    border-radius: 50px 50px 50px 50px;
    width: 400px;
    font-size: 45px;
    margin-top: 30px;
    height: 135px;
    background: $color-violet;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 105px;
    margin-bottom: 125px;
}